.mall h1 {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: rgb(247, 30, 30);
  text-align: center;
  margin-bottom: 1rem;
}

.header {
  transform: translate(-15%, -50%);
  position: absolute;
  top: 50%;
  background: black;
  border-radius: 5px;
  left: 35%;
  padding: 1rem;
  width: 50%;
}

.header p {
  color: white;
  font-style: italic;
  text-align: center;
}

.active {
  background-color: white !important;
}

.carousel img {
  width: 100%;
  min-height: 100vh;
  object-fit: contain;
}

.scroll-btn button {
  position: absolute;
  padding: 1rem;
  background-color: red;
  border: none;
  cursor: pointer;
  top: 47%;
  outline: none;
  transition: all linear 0.5s;
}

.scroll-btn button:hover {
  background-color: black;
}

.scroll-btn button i {
  font-size: 2rem;
  color: white;
}

.left {
  left: 10%;
}

.right {
  right: 10%;
}

.pagination {
  position: absolute;
  bottom: 2%;
  left: 50%;
  display: flex;
  align-items: center;
}

.pagination div {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  background-color: red;
  border-radius: 50%;
  transition: all linear 0.3s;
  cursor: pointer;
}

.pagination div:hover {
  background-color: white;
}

/* Products */
.products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}

.collapse {
  display: none;
}

.products .item {
  border: 2px solid;
  margin-top: 3rem;
  margin-right: 3rem;
}
.products .item img {
  width: 500px;
  height: 300px;
  object-fit: fill;
}

.flex{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 0.5rem 0;
}

.add{
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: rgb(194, 51, 51);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.sub-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.sub-section button {
  margin-right: 2rem;
  font-size: 1.1rem;
  border: none;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: all linear 0.3s;
}

.reviews-content {
  margin-top: 3rem;
  min-height: 60vh;
}

.reviews-content h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.review {
  width: 50%;
  margin: 0 auto;
  background: black;
  border-radius: 5px;
  padding: 2rem;
  color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.review img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.review .name,
.post {
  line-height: 2;
}
.review .div,
img {
  margin-bottom: 1rem;
}

.review .content {
  line-height: 1.5;
}

footer {
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: rgb(187, 23, 23);
  color: white;
}

footer p {
  line-height: 2;
  font-weight: bold;
}
